<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flask Auth Example</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body>
      <section class="hero is-info p-4 has-text-centered">
          <h1 class="title">Flask Authentication Example</h1>
      </section>
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <a href="{{ url_for('main.index') }}" class="navbar-item">
              Home
            </a>
          </div>
          {% if current_user.is_authenticated %}
          <div class="column">
            <a href="{{ url_for('main.profile') }}" class="navbar-item">
              Profile
          </a>
          </div>
          {% endif %}
          {% if not current_user.is_authenticated %}
          <div class="column">
            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                Login
            </a>
          </div>
          <div class="column">
            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                Sign Up
            </a>
          </div>
          {% endif %}
          {% if current_user.is_authenticated %}
          <div class="column">
            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                Logout
            </a>
         </div>
          {% endif %}
        </div>
      </div>
      <div class="container has-text-centered p-4">
        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>